build.properties.template
build.xml
interfacemocks.properties
test_results
apex-mocks-generator-2.0.5.jar
apex-mocks-generator-3.0.1.jar
apex-mocks-generator-3.1.0.jar
apex-mocks-generator-3.1.2.jar
apex-mocks-generator-4.0.1.jar
images
interfacemocks.properties
lib
.sfdx
.travis.yml
fflib
.vscode
.github